// colors
$primary: #723EA6;
$secondary: #62299B;
$white: #FAFAFA;
$light: #FAFAFA;
$dark: #000000;


// spacing
$spacer: 2rem; // margin (default is 1rem)


// typography
$font-family-sans-serif: 'Cormorant';
$font-family-monospace: 'Fredoka';

$font-size-base: 1.05rem;
$line-height-base: 1.3;